.discussionChatContainer {
	min-height: 625px;
	width : 50%;
	margin : auto;
}
.discussionChatContainer .rowGroup {
	display : flex;
	margin-top : 25px;
}
.discussionChatContainer .outIcon {
    margin-left: auto;
    margin-top : 10px;
    position : relative;
    width: 65px;
    height : 65px;
    border-radius: 50px;
    transition : 0.3s;
}
.discussionChatContainer .outIcon:hover {
	background-color : #e0dfdf;
	cursor : pointer;
}
.discussionChatContainer .outIcon img {
	width : 44px;
	position : absolute;
	left: 13px;
    top: 10px;
}
.rowGroup .chatBox {
	display : flex;
	flex-direction : column;
	flex : 2;
	height : 550px;
	border : 1px solid #b9b7b7;
	margin-right : 15px;
	border-radius: 10px;
	box-sizing: border-box;
}
.rowGroup .chatBox .subject {
	display : flex;
	justify-content : space-between;
	background: linear-gradient(to right,#acc0ed,#9f84ff);
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	padding: 5px 6px;
}
.rowGroup .chatBox .subject .text {
	font-weight: 700;
	color : #454545;
}
.rowGroup .chatBox .chatArea {
	flex : 1;
	margin : 13px 13px 10px 13px;
	overflow : auto;
}
.rowGroup .chatBox .chatArea::-webkit-scrollbar{
  	display:none;
}
.rowGroup .chatBox .chatArea .chat {
	margin-bottom : 10px;
	width : 85%;
}
.rowGroup .chatBox .chatArea .chat .profile {
	height : 22px;
}
.rowGroup .chatBox .chatArea .chat .profile .box {
	margin-top : 4px;
	margin-bottom : 6px;
}
.rowGroup .chatBox .chatArea .chat .profile span {
	line-height : 22px;
	font-size : 15px;
}
.rowGroup .chatBox .chatArea .chat .profile img {
	vertical-align: bottom;
	width : 20px;
	height : 20px;
	border: 1px solid #dbdbdb;
    border-radius: 6px;
}
.rowGroup .chatBox .chatArea .chat .text {
	padding: 7px;
    border-radius: 9px;
    background-color: #dddddd;
    font-size : 15px;
    display: inline-block;
    max-width: 90%;
    margin-top: 4px;
}
.rowGroup .chatBox .chatArea .myChat {
	text-align : right;
	margin-bottom : 10px;
}
.rowGroup .chatBox .chatArea .myChat .text {
	display : inline-block;
	max-width : 75%;
	background-color : #b0dcfb;
	padding : 7px;
	border-radius: 9px;
	font-size : 15px;
}
.rowGroup .chatBox .typing {
	border : 1px solid #989898;
	border-radius: 7px;
	padding : 7px;
	margin : 0px 13px 13px 13px;
	background-color: #dbdbdb;
	transition : 0.3s;
}
.rowGroup .chatBox .typing textarea {
	width : 100%;
	box-sizing: border-box;
	resize: none;
	outline : none;
	font-size : 18px;
	border : none;
	color : #393939;
	background-color: #dbdbdb;
	transition : 0.3s;
}
.rowGroup .chatBox .typing textarea::-webkit-scrollbar{
  	display:none;
}
.rowGroup .chatBox .typing .submit {
	display : flex;
	justify-content: flex-end;
}
.rowGroup .chatBox .typing .submit .length {
	color : gray;
	font-size : 12px;
	margin-right : 10px;
	height: 25px;
    line-height: 33px;
}
.rowGroup .chatBox .typing .submit .btn {
	text-align : center;
	background-color : #a1a1a1;
	color : white;
	font-size : 15px;
	padding: 5px 14px;
	border-radius: 5px;
	transition : 0.2s;
	user-select : none;
}
.rowGroup .chatBox .typing .submit .btn.clickBtn {
	background-color : #007eff;
	cursor : pointer;
}
.rowGroup .memberBox {
	flex : 1;
	border : 1px solid #b9b7b7;
	margin-left : 15px;
	border-radius: 10px;
}
.rowGroup .memberBox .member {
	padding : 1px 6px;
}
.rowGroup .memberBox .member img {
    background-color: #8dbcff;
    width: 21px;
    height : 21px;
    border-radius: 7px;
    margin-right : 5px;
}
.rowGroup .memberBox .member span {
    vertical-align: super;
    font-size : 15px;
}
.rowGroup .memberBox .participant {
	overflow : auto;
	height : 50%;
}
.rowGroup .memberBox .participant .title {
	text-align: center;
	background: linear-gradient(to right,#acc0ed,#9f84ff);
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	color : #525252;
    padding: 2px 0px;
    margin-bottom : 3px;
}
.rowGroup .memberBox .spectator {
	overflow : auto;
	height : 50%;
}
.rowGroup .memberBox .spectator .title {
	text-align: center;
	background: linear-gradient(to right,#acc0ed,#9f84ff);
	color : #525252;
	border-bottom: 1px solid #d1d1d1;
	border-top: 1px solid #d1d1d1;
    padding: 2px 0px;
    margin-bottom : 3px;
}