<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javaProjectS13.dao.DiscussionDAO">
	
	
	<select id="discussionList" resultType = "com.spring.javaProjectS13.vo.DiscussionVO">
		select * from discussion mainD order by idx desc
	</select>
	<select id ="discussion" resultType = "com.spring.javaProjectS13.vo.DiscussionVO">
		select * from discussion where idx = #{idx}
	</select>
	<select id="reservationTimeCheck" resultType = "int">
		select count(*) from discussion where idx = #{idx} and <![CDATA[now() < date_sub(discussionDate, interval 30 minute)]]> 
	</select>
	<select id="enterTimeCheck" resultType = "int">
		select count(*) from discussion where idx = #{idx} and <![CDATA[discussionDate <= date_add(now(), interval 30 minute)]]> and state != '종료';
	</select>
	
	
	<insert id="makeDiscussion">
		insert into discussion values (default, #{vo.memberIdx}, #{vo.subject}, #{vo.part}, now(), #{vo.discussionDate}, 
		'${vo.memberIdx}/', #{vo.headCount}, #{vo.discussionTime}, null, '신청중', #{vo.fileName}, #{vo.link})
	</insert>
	
	
	<update id="updateDiscussionState">
		update discussion set state = '토론중' where <![CDATA[discussionDate < now()]]> and state != '종료';
		update discussion set state = '입장대기' where <![CDATA[discussionDate >= now() and discussionDate <= date_add(now(),interval 30 minute)]]>;
	</update>
	<update id="addParticipant">
		update discussion set participant = concat(participant,'${memberIdx}/') where idx = #{idx}
	</update>
	
	
</mapper>