@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;800&display=swap');
body {
	padding : 0px;
	margin : 0px;
	font-family: 'Nanum Gothic';
}
@keyframes fadeInOut {
	0% { opacity: 0; }
    100% { opacity: 1; }
}
.adManagerContainer .flexBox {
	display : flex;
	justify-content: space-between;
	background-color: #d5d5d5;
}
.adManagerContainer .box2 {
	display : flex;
	width : 600px;
	margin-top: 100px;
	margin-bottom: 50px;
}
.adManagerContainer .line {
	border-top : 1px solid #d5d5d5;
}
.adManagerContainer .box1 {
	flex : 1;
}
.adManagerContainer .imgFrame {
	width : 300px;
	height : 488px;
	margin : auto;
	box-shadow: 0px 2px 4px 2px rgba(0,0,0,.15);
	background-color : #f9f9f9;
	margin-top : 122px;
	text-align: center;
}
.adManagerContainer .imgFrame img {
	width : 80%;
	max-height : 250px;
	margin-top : 30px;
	box-shadow: 0px 3px 5px 3px rgba(0,0,0,.15);
	animation : fadeInOut 0.5s;
}
.adManagerContainer .box3 {
	flex : 1;
}
.box2 .col1 {
	flex : 1;
}
.box2 .col2 {
	flex : 0.5;
	display : flex;
	flex-direction: column;
	justify-content: center;
}
.box2 .col3 {
	flex : 1;
}
.box2 .col1 .row1 {
	font-size : 14px;
	margin-bottom: 6px;
	font-weight: bolder;
}
.box2 .col3 .row1 {
	font-size : 14px;
	margin-bottom: 6px;
	font-weight: bolder;
}
.box2 .col1 .row2 {
	height : 480px;
	padding : 3px;
	border: 1px solid #e1d0d0;
    border-radius: 5px;
    background-color: white;
}
.box2 .col1 .row2 .title {
	position : relative;
}
.box2 .col1 .row2 .title .text1 {
	font-size : 14px;
	vertical-align: text-top;
}
.box2 .col1 .row2 .title img {
	position : absolute;
	right : 2px;
	top : 1px;
	width : 13px;
	cursor : pointer;
	transition : transform 0.3s;
}
.box2 .col1 .row2 .imgGroup {
	display : none;
	font-size : 13px;
}
.box2 .col1 .row2 .imgGroup .imgName img {
	width : 12px;
	margin-left : 6px;
}
.box2 .col3 .row1 img {
	width : 11px;
	float:right;
	border : 1px solid #b7b7b7;
	border-radius: 3px;
	margin-left : 2px;
	padding : 4px;
	cursor : pointer;
	background-color: white;
}
.box2 .col3 .row2 {
	height : 480px;
	padding : 3px;
	border: 1px solid #e1d0d0;
    border-radius: 5px;
	font-size : 14px;
	background-color: white;
}
.box2 .col3 #adList2 .box {
	position : relative;
	padding : 1px 0px;
}
.box2 .col3 #adList2 .box input[type=checkbox] {
	position : absolute;
	top : 0px;
	left : 0px;
}
.box2 .col3 #adList2 .box {
	padding-left : 23px;
}
.box2 .col1 .row3 {
	display : flex;
	justify-content: space-between;
	font-size : 14px;
	margin-top: 6px;
}
.box2 .col3 .row3 {
	display : flex;
	justify-content: space-between;
	font-size : 14px;
	margin-top: 6px;
}
.box2 .col1 .row3 .btn {
	background-color: #ff4800;
	border-radius: 4px;
	color : white;
	font-size : 12px;
    padding: 5px 8px;
    cursor : pointer;
}
.box2 .col3 .row3 .btn {
	background-color: #ff4800;
	border-radius: 4px;
	color : white;
	font-size : 12px;
    padding: 5px 8px;
    cursor : pointer;
}
.box2 .relative {
	position : relative;
	line-height: 24px;
}
.box2 .relative span {
	margin-left : 21px;
}
.box2 .col1 .row3 input {
	position : absolute;
	left : 0px;
	top : 3px;
}
.box2 .col3 .row3 input {
	position : absolute;
	left : 0px;
}
.box2 .col2 .btn {
	border : 1px solid #999999;
	border-radius : 3px;
    width: 35px;
    font-size: 14px;
    padding: 2px 6px;
    margin: auto;
    position : relative;
    cursor : pointer;
    box-shadow: 0px 0px 16px 0 rgba(0,0,0,.07);
    background-color: white;
}
.box2 .col2 .btn:hover {
	box-shadow: 0px 0px 16px 0 rgba(0,0,0,.11);
}
.box2 .col2 .btn .text2 {
	font-size : 7px;
	color : green;
	position : absolute;
	top : 5px;
	right : 3px;
}
.btnBox {
	margin-top : 30px;
	text-align: center;
}
.btnBox .btn {
	display : inline-block;
	margin : auto;
	background-color: #32c163;
	border-radius: 4px;
	color : white;
	cursor : pointer;
	padding : 7px 18px;
}
.selected {
	background-color : #e1e1e1;			
}