@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;800&display=swap');
body {
	padding : 0px;
	margin : 0px;
	font-family: 'Nanum Gothic';
}
.reportManagerContainer {
	width : 100%;
	box-sizing: border-box;
	padding : 30px;
}
.reportManagerContainer .conditionBox {
	display : flex;
	border : 1px solid #c2c2c2;
	border-radius : 3px;
	width : 100%;
	margin-top : 20px;
	margin-bottom : 100px;
	padding : 15px 27px;
	box-sizing: border-box;
}
.reportManagerContainer .conditionBox .searchBtn {
	flex : 1;
	display : flex;
	align-items: center;
}
.reportManagerContainer .conditionBox .searchBtn .btn {
	width : 76px;
	height : 50px;
	margin-left : auto;
	text-align: center;
	line-height: 50px;
	border-radius: 5px;
	background-color: #25b7df;
    color: white;
    cursor : pointer;
}
.reportManagerContainer .conditionBox .condition .row {
	display : flex;
	padding : 8px 0px;
}
.reportManagerContainer .conditionBox .condition .row .col1 {
	width : 150px;
}
.reportManagerContainer .conditionBox .condition .row .col1 img {
	width : 17px;
	margin-top : 1px;
}
.reportManagerContainer .conditionBox .condition .row .col1 .text1 {
	vertical-align: top;
}
.reportManagerContainer .conditionBox .condition .row1 .col2 select {
    width: 55px;
    border-radius: 5px ;
    height: 22px;
    border: 1px solid #c1c1c1;
}
.reportManagerContainer .conditionBox .condition .row2 .col2 input {
	width: 100px;
    border-radius: 5px ;
    height: 22px;
    border: 1px solid #c1c1c1;
}
.reportManagerContainer .conditionBox .condition .row3 .col2 input {
	width: 250px;
    border-radius: 5px ;
    height: 24px;
    border: 1px solid #c1c1c1;
    padding : 0px 0px 0px 4px;
}
.reportManagerContainer .conditionBox .condition .row3 .col2 select {
	width: 80px;
    border-radius: 5px ;
    height: 26px;
    border: 1px solid #c1c1c1;
    vertical-align: top;
}
.reportManagerContainer .title {
	font-size : 22px;
	font-weight : bolder;
}
.reportManagerContainer .title img {
    width: 24px;
    vertical-align: bottom;
}
.reportManagerContainer .result {
	margin-bottom : 20px;
	display : flex;
}
.reportManagerContainer .result select {
    border-radius: 3px;
    height: 23px;
    border: 1px solid #b6b6b6;
}
.reportManagerContainer .result .text {
	flex : 0.5;
}
.reportManagerContainer .result .text .text1 {
	font-weight : bolder;
}
.reportManagerContainer .result .text .text2 {
	font-size : 14px;
}
.reportManagerContainer .result .text .text3 {
	color : red;
	font-size : 14px;
}
.reportManagerContainer .result .text .text4 {
	font-size : 14px;
}
.reportManagerContainer .result .pageSizeBox {
	flex : 0.5;
	text-align : right;
}
.reportManagerContainer .reportListBox {
	width : 100%;
	border : 1px solid #c2c2c2;
	border-radius : 3px;
    padding: 25px 17px;
    box-sizing: border-box;
    margin-bottom : 20px;
}
.reportManagerContainer .reportListBox .tableHeader {
	display : flex;
	margin-bottom: 10px;
}
.reportManagerContainer .reportListBox .reportList {
	display : flex;
	padding : 10px 0px;
	line-height: 23px;
	height: 44px;
    box-sizing: border-box;
}
.reportManagerContainer .reportListBox .reportList:hover {
	background-color : #f3f3f3;
}
.reportManagerContainer .reportListBox .line {
	border-top : 1px solid #dcdbdb;
}
.tableHeader .col {
	text-align : center;
	font-size : 15px;
	font-weight: bolder;
	color : #4e4e4e;
}
.reportList .col {
	text-align : center;
	color : #4e4e4e;
	font-size : 14px;
    box-sizing: border-box;
}
.reportListBox .col1 {
	width : 50px;
}
.reportListBox .col2 {
	width : 60px;
}
.reportListBox .col3 {
	width : 200px;
}
.reportListBox .col4 {
	width : 100px;
}
.reportListBox .col5 {
	width : 120px;
}
.reportListBox .col6 {
	width : 120px;
}
.reportListBox .col7 {
	flex : 1.2;
}
.reportListBox .col8 {
	width : 130px;
}
.reportListBox .col9 {
	flex : 0.8;
}
.reportListBox .col9 img {
	width: 23px;
    vertical-align: top;
    cursor : pointer;
}
.reportListBox .col9 .btn {
    border-radius: 3px;
    box-sizing: border-box;
    padding: 0px 4px;
    width: 32px;
    height: 23px;
	font-size: 12px;
    font-weight: bolder;
    color : white;
    display : none;
    cursor : pointer;
}
.reportListBox .col9 .btnSave {
	background-color: #25b7df;
}
.reportListBox .col9 .btnCancel {
	background-color : #ff9f00;
}
.reportManagerContainer .pagingBox {
	display : flex;
	justify-content : center;
	margin : auto;
}
.reportManagerContainer .pagingBox .item {
	cursor : pointer;
	border : 1px solid #8d8989;
	border-radius : 3px;
    width: 17px;
    height: 17px;
    text-align: center;
    margin-right : 4px;
    padding : 2px;
    font-size : 13px;
    color: #2d2d2d;
}
.reportManagerContainer .pagingBox .item img {
	width : 50%;
	height : 50%;
}
.reportManagerContainer .pagingBox .number.selected {
	background-color: gray;
	color : white;
	font-weight : bolder;
}
.reportManagerContainer .managerFooter {
	display : flex;	
}
.reportManagerContainer .managerFooter .btnContainer {
	flex : 1;
}
.reportManagerContainer .managerFooter .col3 {
	flex : 1;
}
.reportManagerContainer .managerFooter .btnContainer .btn {
	background-color : red;
	font-size : 14px;
	color : white;
	border-radius: 4px;
	display : inline-block;
	padding: 5px 10px;
	cursor : pointer;
}