.idPwdFindContainer {
	min-height : 518px;
	width : 60%;
	margin : auto;
}
.idPwdFindContainer .pwdFindBox {
	display : none;
}
.idPwdFindContainer .title {
	font-size : 30px;
	font-weight : bolder;
}
.idPwdFindContainer .idFindBox {
	margin-top : 15px;
}
.idFindBox .subject {
	display : flex;
	font-size : 18px;
	position : relative;
	height : 45px;
}
.idFindBox .subject .item {
	padding : 10px 26px;
	cursor : pointer;
}
.idFindBox .subject .item1 {
	border-left: 2px solid #1469ad;
	border-top: 2px solid #1469ad;
	border-right: 2px solid #1469ad;
}
.idFindBox .subject .item2 {
	position : absolute;
	left: 140px;
    top: 0px;
    height: 21px;
	border-top: 2px solid #e3e3e3;
	border-right: 2px solid #e3e3e3;
}
.idFindBox .subject .line {
	flex : 1;
	border-bottom: 2px solid #1469ad;
}
.idPwdFindContainer .table {
	border-top: 2px solid #bbbbbb;
	margin-top : 60px;
	margin-bottom : 15px;
	font-size : 18px;
}
.idPwdFindContainer .table .row {
	display : flex;
	border-bottom : 1px solid #d7d7d7;
}
.idPwdFindContainer .table .col1 {
	flex : 1;
    padding: 24px 20px;
}
.idPwdFindContainer .table .col2 {
	flex : 5;
	line-height : 69px;
}
.idPwdFindContainer .table .col2 input {
	font-size: 17px;
    padding: 5px;
    width : 90%;
    outline : none;
    border: 1px solid #dddddd;
    border-radius: 5px;
}
.idPwdFindContainer .btnBox {
	display : flex;
	position : relative;
	justify-content: center;
}
.idPwdFindContainer .btnBox .btn {
	width : 76px;
	background-color : skyblue;
	color: white;
    border-radius: 31px;
    padding: 14px 20px;
    cursor : pointer;
}
.idPwdFindContainer .pwdFindBox .btnBox .btn1 {
	width : 95px;
}
.idPwdFindContainer .pwdFindBox .btnBox .btn2 {
	width : 46px;
	display : none;
	margin-right : 10px;
	background-color : #e5eb87;
}
.idPwdFindContainer .pwdFindBox .btnBox .btn3 {
	width : 61px;
	display : none;
}
.idPwdFindContainer .pwdFindBox .btnBox #loading {
	display : none;
	position : absolute;
	left: 58%;
    top: 2px;
}
.idPwdFindContainer .pwdFindBox .btnBox #loading img {
	width : 43px;
}
.idPwdFindContainer .pwdFindBox .btnBox #timer {
	display : none;
	position : absolute;
	left : 63%;
	top : 8px;
	font-size : 25px;
}


.pwdFindBox {
	margin-top : 15px;
}
.pwdFindBox .subject {
	display : flex;
	font-size : 18px;
	position : relative;
}
.pwdFindBox .subject .item {
	padding : 10px 26px;
	cursor : pointer;
}
.pwdFindBox .subject .item1 {
	border-left: 2px solid #e3e3e3;
	border-top: 2px solid #e3e3e3;
	border-bottom: 2px solid #1469ad;
}
.pwdFindBox .subject .item2 {
	border-top: 2px solid #1469ad;
	border-right: 2px solid #1469ad;
	border-left: 2px solid #1469ad;
}
.pwdFindBox .subject .line {
	flex : 1;
	border-bottom: 2px solid #1469ad;
}
.pwdFindBox .table .row3 {
	display : none;
}
.pwdFindBox .pwdResetForm {
	display : none;
}
.pwdFindBox .pwdResetForm .btn {
	margin : 22px auto;
    background-color: #8383eb;
    padding: 13px 31px;
    border-radius: 35px;
    width: 34px;
    color : white;
    cursor : pointer;
}
.pwdResetForm .col2 {
	position : relative;
}
.pwdResetForm .col2 .msg {
	position : absolute;
	color : red;
	font-size : 14px;
	left : 0px;
	top : 52px;
	user-select : none;
	line-height: normal;
	display : none;
}