@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;800&display=swap');
body {
	margin : 0px;
	padding : 0px;
	font-family: 'Nanum Gothic';
}
.line {
	border-top : 1px solid rgb(241 241 241);
}
.memberInfoContainer {
	width : 40%;
	margin : 30px auto;
}
.memberInfoContainer > .box{
	box-shadow: 1px 1px 16px 0 rgba(0,0,0,.16);
	/* border : 1px solid #cfcccc; */
	border-radius : 5px;
	box-sizing: border-box;
	width : 93%;
	margin : 0px auto;
	margin-bottom : 30px;
	padding : 15px 0px;
}
.memberInfoContainer .title {
	width : 93%;
	margin : 12px auto;
	font-size : 22px;
	font-weight : bolder;
	color: #424242;
}
.memberInfoContainer .box .row {
	display : flex;
	padding : 0px 25px;
	box-sizing: border-box;
	height : 50px;
	line-height : 50px;
}
.memberInfoContainer .box .row:hover {
	background-color : #f2f0f0;
}
.memberInfoContainer .box .row .col1 {
	width : 150px;
	font-size : 13px;
	color : #5b5b5b;
}
.memberInfoContainer .box .row .col2 {
	font-size : 16px;
}
.memberInfoContainer .box .row .col3 {
	flex : 1;
	text-align : right;
}
.memberInfoContainer .box .row .col3 img {
	cursor : pointer;
}
.memberInfoContainer .box .row .update input {
	height: 27px;
    border-radius: 5px;
    border: 1px solid #bfbebe;
    display : none;
    outline : none;
}
.memberInfoContainer .box .row .save {
	flex : 1;
	text-align : right;
	display : none;
}
.memberInfoContainer .box .row .save img {
	cursor : pointer;
}
.update .inValidMsg {
	color : red;
	font-size : 12px;
}
.mailBox {
	position : relative;
}
.mailBox #msg{
	position : absolute;
	left : 0px;
	top : 29px;
	font-size : 12px;
	color : red;
}
.mailBox input {
	width : 200px;
}
.mailBox .mailCodeBtn {
	position: absolute;
	right : -54px;
	top : 10px;
	background-color: rgb(36, 128, 214);
	color : white;
	height : 31px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	box-sizing: border-box;
	padding : 8px;
	font-size : 11px;
	display : none;
	line-height : 15px;
	cursor : pointer;
}
.row .mailSend {
	display : none;
	margin-left : 67px;
}
.row .mailSend input {
	width : 110px;
}
.row .mailSend .mailCodeBtn {
	right : -33px;
}
.row #loading {
	display : none;
    line-height: 58px;
    margin-left: 65px;
}
.row #timer {
	margin-left: 45px;
	font-size : 14px;
}

