@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;800&display=swap');
body {
	margin : 0px;
	padding : 0px;
	font-family: 'Nanum Gothic';
}
.line {
	border-top : 1px solid rgb(241 241 241);
}
.rightSide {
	padding: 20px 30% 20px 20px;
}
.rightSide .header {
	display : flex;
	justify-content: space-between;
	width : 93%;
	margin : 0 auto;
	margin-bottom : 10px;
}
.rightSide .header .section {
	flex : 1;
	display : flex;	
}
.rightSide .header .section .text {
	margin-left : 10px;
	color: #727272;
    font-size: 14px;
}
.rightSide .header .section .symbol {
	font-weight : bolder;
}
.rightSide .header .section .text a {
	text-decoration: none;
	color : #727272;
}
.rightSide .submenu1 {
	border-radius: 10px;
	box-shadow: 1px 1px 16px 0 rgba(0,0,0,.16);
	box-sizing: border-box;
	width : 93%;
	margin : 30px auto;
	padding : 20px;
	font-size : 16px;
}
.rightSide .submenu1 > .line {
	margin-top : 12px;
	margin-bottom : 12px;
}
.rightSide .submenu1 img {
	vertical-align: middle;
}
.rightSide .submenu1 .row {
	display : flex;
	justify-content: space-between;
}
.rightSide .submenu1 .row .text1 {
	vertical-align: middle;
}
.rightSide .submenu1 .row .col2 .btn {
	width : 28px;
	height : 20px;
	background-color : #eeecec;
	font-size : 14px;
	padding : 2px 10px 1px 10px;
	border : 1px solid lightgray;
	border-radius: 3px;
	color: #777676;
	cursor : pointer;
}
.pwdChangeContainer {
	width : 93%;
	margin : 0 auto;
}
.pwdChangeForm {
	width : 78%;
	margin : 0 auto;
	margin-top : 50px;
}
.pwdChangeForm .row {
	display : flex;
	margin-bottom : 25px;
}
.pwdChangeForm .row .col1 {
	flex : 0.7;
	color : #515151;
	line-height : 32px;
}
.pwdChangeForm .row .col2 {
	flex : 2;
}
.pwdChangeForm .row .col2 input {
	width : 100%;
	box-sizing : border-box;
	height : 28px;
	border : 1px solid #b5b5b5;
	border-radius : 5px;
	outline: none;
	padding-left : 5px;
}
.pwdChangeForm .row4 {
	display : flex;
	justify-content: flex-end;
}
.pwdChangeForm .pwdChangeBtn {
	border-radius: 5px;
	background-color : #ffc600;
	box-sizing: border-box;
	padding : 9px 19px;
	text-align: center;
	font-size : 14px;
}
.pwdChangeForm .row2 .col2, .pwdChangeForm .row3 .col2 {
	position : relative;
}
.pwdChangeForm .msg {
	position : absolute;
	left : 8px;
	top : 31px;
	font-size : 12px;
	color : red;
}
.pwdChangeForm .pwdChangeBtn {
	cursor : pointer;
}




.userInfo {
    top: 6px !important;
    right: 29px !important;
}