@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;800&display=swap');
body {
	margin : 0px;
	padding : 0px;
	font-family: 'Nanum Gothic';
}
.line {
	border-top : 1px solid rgb(241 241 241);
}
.rightSide {
	padding : 20px;
}
.rightSide .header {
	display : flex;
	justify-content: space-between;
	width : 93%;
	margin : 0 auto;
	margin-bottom : 10px;
}
.rightSide .header .section {
	flex : 1;
	display : flex;	
}
.rightSide .header .section .text {
	margin-left : 10px;
	color: #727272;
    font-size: 14px;
}
.rightSide .header .section .symbol {
	font-weight : bolder;
}
.rightSide .header .section .text a {
	text-decoration: none;
	color : #727272;
}
.rightSide .header .myInfo {
	display : flex;
}
.rightSide .header .myInfo .col {
	margin-left : 14px;
	cursor : pointer;
}
.rightSide .header .myInfo .col1 img {
	background-color: #7db4f5;
	width : 25px;
	height : 25px;
	border-radius: 13px;
}
.rightSide .header .myInfo .col2 {
	margin-left : 3px;
}
.rightSide .header .myInfo .col2:hover .text1 {
	text-decoration: underline;
}
.rightSide .header .myInfo .col2 .text1 {
	line-height : 23px;
}
.rightSide .header .myInfo .col2 .text2 {
	font-size : 10px;
	color : gray;
}



.rightSide .keywordContainer {
	width : 93%;
	margin : 35px auto;
}
.keywordContainer .title {
	font-size : 22px;
	font-weight : bolder;
}
.keywordContainer .keywordBox {
	border : 1px solid darkgrey;
	border-radius: 6px;
	padding : 20px;
	margin-top : 10px;
	display : flex;
	flex-wrap: wrap;
}
.keywordBox .keyword {
	border-radius: 6px;
	padding : 8px 12px 8px 14px;
	height : 33.7px;
	box-sizing : border-box;
	color : white;
	margin : 0px 10px 10px 0px;
}
.keywordBox .addKeyword img {
	width : 26px;
	margin-top : 3px;
	cursor : pointer;
}
.keywordBox .keyword .delete {
	cursor : pointer;
	font-weight : bolder;
}
.keywordBox .keyword.input {
	padding: 3px 10px;
	display : none;
}
.keywordBox .keyword.input input {
    margin-top: 4px;
    outline : none;
    width : 85px;
}
.keywordBox .saveKeyword {
	display : none;
}
.keywordBox .saveKeyword img{
	width : 26px;
	margin-top : 3px;
	cursor : pointer;
}

