.line {
	border-top : 1px solid rgb(211, 211, 211);
}
.homeContainer {
	padding : 15px 250px;
	display : flex;
}
.leftSide {
	flex : 4.5;
	margin-right : 28px;
}
.rightSide {
	flex : 1.1;
}
.wordCloudBox {
	border: 1px solid black;
	padding : 20px;
	height : 300px;
}
.boardBox {
	border: 1px solid #e1e1e1;
	padding : 20px;
	border-radius: 10px;
	margin-top: 20px;
	display : flex;
}
.newsBox {
	border: 1px solid black;
	padding : 20px;
	height : 300px 
}
.loginBox {
	border: 1px solid #e1e1e1;
	border-radius : 10px;
	padding : 20px;
	margin-bottom : 15px;
}





.loginBox a {
	color : black;
	text-decoration: none;
}
.loginBox .title {
	margin-bottom : 10px;
}
.loginBox .title img {
	vertical-align: bottom;
}
.loginBox #mid {
	width : 100%;
	height : 30px;
	font-family: 'Nanum Gothic';	
	border-radius: 5px;
	border : 1px solid rgb(175, 175, 175);
	padding-left : 7px;
	margin-top : 17px;
}
.loginBox #pwd {
	width : 100%;
	height : 30px;	
	margin-top: 5px;		
	margin-bottom: 15px;
	font-family: 'Nanum Gothic';
	border-radius: 5px;
	border : 1px solid rgb(175, 175, 175);
	padding-left : 7px;
}
.loginBox .idSaveBox {
	margin-bottom: 42px;
	display : flex;
}
.loginBox .idSaveBox .text {
	font-size : 13px;
	color : darkgray;
	line-height: 17px;
}
.loginBox .idSaveBox .loginToggleBox {
	width : 35px;
	background-color : lightgray;
	border-radius: 20px;
	position : relative;
	height : 19px;
	cursor : pointer;
	user-select : none;
}
.loginBox .idSaveBox .loginToggleBox .toggleBtn {
	width : 13px;
	height : 13px;
	border-radius: 10px;
	background-color: white;
	position: absolute;
	left : 2px;
	top : 3px;
	transition : 0.3s;
}
.loginBox .idSaveBox .loginToggleBox.checked {
	background-color : #68aef3;
}
.loginBox .idSaveBox .loginToggleBox.checked .toggleBtn{
	left : 20px;
}
.loginBox #login {
	width : 100%;
	height : 35px;
	background-color: rgb(36, 128, 214);;
	color : white;
	border-radius: 5px;
	font-family: 'Nanum Gothic';
	text-align: center;
	font-size: 17px;
	line-height: 35px;
	margin-bottom: 17px;
	cursor : pointer;
}
.loginBox #login:hover {
	background-color: rgb(78, 78, 78);			
	color : lightgray;
}
.loginBox .joinFind {
	text-align: center;
	margin-bottom: 10px;
	color : gray;
	margin-top: 15px;
	margin-bottom: 15px;
}
.loginBox .joinFind a {
	font-size: 13px;
	color : gray;
}




.memberBox {
	border: 1px solid #e1e1e1;
	border-radius : 10px;
	padding : 12px 20px;
	margin-bottom : 15px;
}
.memberBox > .row1 {
	margin-bottom : 6px;
	font-size : 15px;
}
.memberBox .row1 img {
	width : 24px;
	height : 19px;
	vertical-align: bottom;
}
.memberBox > .row2 {
	display : flex;
	width : 100%;
	height : 50px;
	margin-top : 15px;
	margin-bottom : 15px;
}
.memberBox .row2 .profile {
	height : 100%;
	width : 50px;
}
.memberBox .row2 .profile img {
	border-radius: 50px;
	width : 50px;
	height : 50px;
	background-color: #7db4f5;
	border : 1px solid #f1f1f1;
}
.memberBox .row2 .info {
	height : 100%;
	flex : 1;
	margin-left: 7px;
	padding-top : 5px;
}
.memberBox .row2 .info .row1 {
	display : flex;
	justify-content: space-between;
	font-weight : bolder;
	font-size : 15px;
    margin-bottom: 7px;
}
.memberBox .row2 .info .row1 .col2 {
	cursor : pointer;
}
.memberBox .row2 .info .row2 {
	font-size : 14px;
	color : #636363;
}
.memberBox .row2 .info .row2 .text1 {
	color : #6f6f6f;
}
.memberBox .row2 .info .row2 .text2 {
	font-size : 11px;
	color : #939393;
}
.memberBox .row3 .progressContainer {
	border : 1px solid lightgray;
	height : 15px;
	margin-bottom : 12px;
	border-radius: 1px;
}
.memberBox .row3 .progressContainer .progressBar {
  	background: linear-gradient(to bottom, #3381ff, #4e92ff, #88afef, #4e92ff, #3381ff);
	height : 15px;
}
.memberBox > .row4 {
	margin-top : 25px;
	margin-bottom : 10px;
	font-size : 12px;
	color : gray;
	display : flex;
	justify-content: space-between;
}
.memberBox .row4 span {
	cursor : pointer;
}
.memberBox .row4 #adminPage {
    color: #009688;
    font-weight: bolder;
}
.memberBox > .row5 {
	display : flex;
	justify-content: space-between;
	margin-top : 12px;
	margin-bottom : 20px;
}
.memberBox .row5 .col1 .text2 {
	color: #ffa600;
    font-size: 13px;
	font-weight : bolder;
}
.memberBox .row5 .col2 .text1 {
	font-size: 12px;
	color : gray;
	cursor : pointer;
}
.memberBox > .row6 {
	width : 100%;
}
.memberBox .row6 .logout {
	width : 100%;
	height : 40px;
	margin-top : 10px;
	margin-bottom : 10px;
	border-radius: 6px;
	background-color : rgb(78, 78, 78);
	color : white;
	text-align : center;
	line-height: 40px;
	cursor : pointer;
}




.adBox {
	margin-bottom : 15px;
    margin-top: 20px;
	width : 100%;
	height : 350px;
	overflow: hidden;
    border: 1px solid #e1dede;
    border-radius: 10px;
    background-color: #f5f2f2;
}
.adBox .title {
	margin-bottom : 10px;
}
.adBox .adImgBox {
	display : flex;
	width : 100%;
	height : 100%;
	transition : transform 0.3s;
}
.adBox .adImgBox .item {
	flex-shrink: 0;
	width : 100%;
	height : 100%;
	padding: 20px;
    box-sizing: border-box;
}
.adBox .adImgBox img {
	border-radius: 5px;
}





.comunityBox {
	border: 1px solid #e1e1e1;
	border-radius : 10px;
	width : 100%;
	height : 350px;
	box-sizing: border-box;
	display : flex;
	flex-direction: column;
}
.comunityBox .title {
	display : flex;
	justify-content : space-between;
	padding : 7px 14px;
	background-color: #f3f1f1;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.comunityBox .title img {
	vertical-align: middle;
	width : 14px;
	height : 14px;
}
.comunityBox .title .text1 {
	font-size : 14px;
}
.comunityBox .title .text2 {
	font-size: 14px;
    color: #f77f14;
    font-weight: bolder;
}
.comunityBox .title .text3 {
	font-size: 13px;
    color: #676767;
}
.comunityBox .friendList {
	overflow: auto;
}
.comunityBox .friendList .friend {
	display : flex;
	padding : 8px 12px;
}
.comunityBox .friend .profile {
	position : relative;
}
.comunityBox .friend .profile .loginState {
	position : absolute;
	top : 24px;
	right : -2px;
	width : 12px;
	height : 12px;
}
.comunityBox .friend .profile img {
	width : 35px;
	height : 35px;
	border-radius: 20px;
	border : 1px solid #f1f1f1;
	background-color: #7db4f5;
}
.comunityBox .friend .info {
	margin-left: 10px;
}
.comunityBox .friend .info .text1 {
	font-size : 14px;
	font-weight : bolder;
}
.comunityBox .friend .info .text2 {
	font-size : 12px;
	color : gray;
}
.comunityBox .loginRequired {
    text-align: center;
    line-height: 250px;
}




.boardBox .hot {
	flex : 1;
	padding-right : 8px;
}
.boardBox .title {
	margin-bottom : 6px;
}
.boardBox .title .text {
	font-size : 18px;
}
.boardBox .recent {
	flex : 1;
	padding-left : 8px;
}
.boardBox .boardList {
	display : flex;
	margin-top : 6px;
}
.boardBox .boardList .board {
	/* display : flex; */
}
.boardBox .boardList .board .subject {
	flex : 1;
}
