.line {
	border-top : 1px solid #99abc0;
}
.homeContainer {
	padding : 15px 250px;
	display : flex;
}
.leftSide {
	width : 76%;
	margin-right : 28px;
}
.rightSide {
	flex : 1;
}
.rightSide .stickBox {
	position : sticky;
	top : 0px;
}
.wordCloudBox {
	border: 3px solid #99abc0;
	border-radius: 10px;
	padding : 20px;
}
.boardBox {
	border: 3px solid #99abc0;
	padding : 20px;
	border-radius: 10px;
	margin-top: 20px;
	display : flex;
}
.newsBox {
    border: 3px solid #99abc0;
    border-radius: 10px;
	padding : 20px;
	margin-bottom : 15px;
	box-sizing: border-box;
}
.loginBox {
	border: 3px solid #99abc0;
	border-radius : 10px;
	padding : 20px;
	margin-bottom : 15px;
}
.comunityBox {
	border: 3px solid #99abc0;
	border-radius : 10px;
	width : 100%;
	height : 350px;
	box-sizing: border-box;
	display : flex;
	flex-direction: column;
}
.memberBox {
	border: 3px solid #99abc0;
	border-radius : 10px;
	padding : 12px 20px;
	margin-bottom : 15px;
}
.adBox {
	margin-bottom : 15px;
    margin-top: 20px;
	width : 100%;
	height : 350px;
	overflow: hidden;
    border: 3px solid #99abc0;
    border-radius: 10px;
    background-color: #f5f2f2;
}




.loginBox a {
	color : black;
	text-decoration: none;
}
.loginBox .title {
	margin-bottom : 10px;
}
.loginBox .title img {
	vertical-align: bottom;
}
.loginBox #mid {
	width : 100%;
	height : 30px;
	font-family: 'Nanum Gothic';	
	border-radius: 5px;
	border : 1px solid rgb(175, 175, 175);
	padding-left : 7px;
	margin-top : 17px;
}
.loginBox #pwd {
	width : 100%;
	height : 30px;	
	margin-top: 5px;		
	margin-bottom: 15px;
	font-family: 'Nanum Gothic';
	border-radius: 5px;
	border : 1px solid rgb(175, 175, 175);
	padding-left : 7px;
}
.loginBox .idSaveBox {
	margin-bottom: 42px;
	display : flex;
}
.loginBox .idSaveBox .text {
	font-size : 13px;
	color : darkgray;
	line-height: 17px;
}
.loginBox .idSaveBox .loginToggleBox {
	width : 35px;
	background-color : lightgray;
	border-radius: 20px;
	position : relative;
	height : 19px;
	cursor : pointer;
	user-select : none;
}
.loginBox .idSaveBox .loginToggleBox .toggleBtn {
	width : 13px;
	height : 13px;
	border-radius: 10px;
	background-color: white;
	position: absolute;
	left : 2px;
	top : 3px;
	transition : 0.3s;
}
.loginBox .idSaveBox .loginToggleBox.checked {
	background-color : #68aef3;
}
.loginBox .idSaveBox .loginToggleBox.checked .toggleBtn{
	left : 20px;
}
.loginBox #login {
	width : 100%;
	height : 35px;
	background-color: rgb(36, 128, 214);;
	color : white;
	border-radius: 5px;
	font-family: 'Nanum Gothic';
	text-align: center;
	font-size: 17px;
	line-height: 35px;
	margin-bottom: 17px;
	cursor : pointer;
}
.loginBox #login:hover {
	background-color: rgb(78, 78, 78);			
	color : lightgray;
}
.loginBox .joinFind {
	text-align: center;
	margin-bottom: 10px;
	color : gray;
	margin-top: 15px;
	margin-bottom: 15px;
}
.loginBox .joinFind a {
	font-size: 13px;
	color : gray;
}
.loginBox .row4 .box {
	border-radius: 25px;
	width : 50px;
	height : 50px;
	margin-left : 7px;
	user-select : none;
}








.memberBox > .row1 {
	margin-bottom : 6px;
	font-size : 15px;
}
.memberBox .row1 img {
	width : 24px;
	height : 19px;
	vertical-align: bottom;
}
.memberBox > .row2 {
	display : flex;
	width : 100%;
	height : 50px;
	margin-top : 15px;
	margin-bottom : 15px;
}
.memberBox .row2 .profile {
	height : 100%;
	width : 50px;
}
.memberBox .row2 .profile img {
	border-radius: 50px;
	width : 50px;
	height : 50px;
	background-color: #7db4f5;
	border : 1px solid #f1f1f1;
}
.memberBox .row2 .info {
	height : 100%;
	flex : 1;
	margin-left: 7px;
	padding-top : 5px;
}
.memberBox .row2 .info .row1 {
	display : flex;
	justify-content: space-between;
	font-weight : bolder;
	font-size : 15px;
    margin-bottom: 7px;
}
.memberBox .row2 .info .row1 .col2 {
	cursor : pointer;
}
.memberBox .row2 .info .row2 {
	font-size : 14px;
	color : #636363;
}
.memberBox .row2 .info .row2 .text1 {
	color : #6f6f6f;
}
.memberBox .row2 .info .row2 .text2 {
	font-size : 11px;
	color : #939393;
}
.memberBox .row3 .progressContainer {
	border : 1px solid lightgray;
	height : 15px;
	margin-bottom : 12px;
	border-radius: 1px;
}
.memberBox .row3 .progressContainer .progressBar {
  	background: linear-gradient(to bottom, #3381ff, #4e92ff, #88afef, #4e92ff, #3381ff);
	height : 15px;
}
.memberBox > .row4 {
	margin-top : 25px;
	margin-bottom : 10px;
	font-size : 12px;
	color : gray;
	display : flex;
	justify-content: space-between;
}
.memberBox .row4 #adminPage {
    color: #009688;
    font-weight: bolder;
}
.memberBox > .row5 {
	display : flex;
	justify-content: space-between;
	margin-top : 12px;
	margin-bottom : 20px;
}
.memberBox .row5 .col1 .text2 {
	color: #ffa600;
    font-size: 13px;
	font-weight : bolder;
}
.memberBox .row5 .col2 .text1 {
	font-size: 12px;
	color : gray;
	cursor : pointer;
}
.memberBox > .row6 {
	width : 100%;
}
.memberBox .row6 .logout {
	width : 100%;
	height : 40px;
	margin-top : 10px;
	margin-bottom : 10px;
	border-radius: 6px;
	background-color : rgb(78, 78, 78);
	color : white;
	text-align : center;
	line-height: 40px;
	cursor : pointer;
}
.memberBox .row4 .box {
	border-radius: 25px;
	position : relative;
	width : 50px;
}
.memberBox .row4 .box .arrow {
	width : 12px;
	height : 12px;
	border-left : 1px solid #e9e9e9;
	border-top : 1px solid #e9e9e9;
	transform : rotate(45deg);
	position : absolute;
	background-color: white;
    top: -7px;
    right: 14px;
    border-radius: 1px;
}
.memberBox .row4 span.text1 {
	cursor : pointer;
}
.memberBox .row4 .box .alarmForm {
	position: absolute;
    border: 1px solid #e9e9e9;
    border-radius: 6px;
    top: 23px;
    right: -245px;
    text-align: left;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,.12);
    display: none;
    background-color: white;
    min-width : 310px;
    box-sizing: border-box;
    z-index : 5;
    color : #191919;
}
.memberBox .row4 .box > span {
	user-select : none;
	cursor : pointer;
}
.memberBox #alarmTotal {
	color : #ffa600;
	right : 2px;
	font-weight : bolder;
}
.memberBox .alarmForm #alarmLoadLayer {
	max-height: 250px;
    overflow: auto;
}
.memberBox .alarmForm #alarmLoadLayer::-webkit-scrollbar {
	display : none;
}
.memberBox .alarmForm .arrow {
	left : 20px;
}
.memberBox .alarmForm .alarm {
	position : relative;
	padding: 12px 28px 12px 8px;
	border-bottom : 1px solid #e7e7e7;
	font-size : 13px;
}
.memberBox .alarmForm .alarm .alarmText {
	user-select : none;
	cursor : pointer;
}
.memberBox .alarmForm .alarm.noRead .alarmText {
	font-weight: bolder;
	font-size : 14px;
}
.memberBox .alarmForm .alarm .imgBox {
	position : absolute;
	right : 6px;
	top : 9px;
	width : 22px;
	height : 22px;
	background-color : #ff408e;
	border-radius: 20px;
	cursor : pointer;
}
.memberBox .alarmForm .alarm .imgBox img {
	position : absolute;
	right : 3px;
	top : 3px;
	width : 16px;
	border-radius: 20px;
}
.memberBox .alarmForm .alarm:nth-last-of-type(1) {
	border : none;	
}
.memberBox .alarmForm .alarm .timeDiff {
	font-size : 12px;
	margin-top : 2px;
	color : gray;
}










.adBox .title {
	margin-bottom : 10px;
}
.adBox .adImgBox {
	display : flex;
	width : 100%;
	height : 100%;
	transition : transform 0.3s;
}
.adBox .adImgBox .item {
	flex-shrink: 0;
	width : 100%;
	height : 100%;
	padding: 20px;
    box-sizing: border-box;
}
.adBox .adImgBox img {
	border-radius: 5px;
}





.comunityBox .title {
	display : flex;
	justify-content : space-between;
	padding : 7px 14px;
	background-color: #f3f1f1;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.comunityBox .title img {
	vertical-align: middle;
	width : 14px;
	height : 14px;
}
.comunityBox .title .text1 {
	font-size : 14px;
}
.comunityBox .title .text2 {
	font-size: 14px;
    color: #f77f14;
    font-weight: bolder;
}
.comunityBox .title .text3 {
	font-size: 13px;
    color: #676767;
}
.comunityBox .return {
	display : none;
}
.comunityBox .return img {
	cursor : pointer;
}
.comunityBox .friendNickName {
	display : none;
}
.comunityBox .friendList {
	overflow: auto;
}
.comunityBox .friendList .friend {
	display : flex;
	padding: 8px 8px 8px 12px;
}
.comunityBox .friend .profile {
	position : relative;
}
.comunityBox .friend .profile .loginState {
	position : absolute;
	top : 24px;
	right : -2px;
	width : 12px;
	height : 12px;
}
.comunityBox .friend .profile img {
	width : 35px;
	height : 35px;
	border-radius: 20px;
	border : 1px solid #f1f1f1;
	background-color: #7db4f5;
}
.comunityBox .friend .info {
	margin-left: 10px;
}
.comunityBox .friend .info .text1 {
	font-size : 14px;
	font-weight : bolder;
}
.comunityBox .friend .info .text2 {
	font-size : 12px;
	color : gray;
}
.comunityBox .friend .chat {
	flex : 1;
	text-align: right;
	display : none;
}
.comunityBox .friend .chat img {
	width : 24px;
	cursor : pointer;
	margin-top: 3px;
}
.comunityBox .friend:hover {
	background-color : whitesmoke;
}
.comunityBox .friend:hover .chat {
	display : block;
}
.comunityBox .friend .chatAlarm {
	flex : 1;
	text-align : right;
}
.comunityBox .friend .chatAlarm .chatAlarmCnt {
	display : inline-block;
	background-color: #ff3c00;
    color: white;
    width: 21px;
    height: 21px;
    text-align: center;
    line-height: 20px;
    border-radius: 20px;
    cursor : pointer;
    margin-top: 3px;
    font-size : 14px;
}
.comunityBox .loginRequired {
    text-align: center;
    line-height: 250px;
}
.comunityBox .privateChat {
	flex : 1;
	display : flex;
	flex-direction: column;
	display : none;
}
.comunityBox .privateChat #chatLoadLayer {
	flex : 1;
}
.comunityBox .privateChat .typing {
	padding: 5px 5px 3px 5px;
}
.comunityBox .privateChat .typing textarea {
	resize : none;
	width : 100%;
	outline : none;
	box-sizing: border-box;
	height : 30px;
	border : 1px solid #7289ab;
	border-radius: 5px;
	font-size: 17px;
    line-height: 23px;
}
.comunityBox .privateChat .typing textarea::-webkit-scrollbar {
	display : none;
}
.comunityBox .privateChat .chatRecord {
	height : 268px;
	overflow : auto;
}
.comunityBox .privateChat .chatRecord::-webkit-scrollbar {
	display : none;
}
.comunityBox .privateChat .chatRecord .me {
	text-align : right;
}
.comunityBox .privateChat .chatRecord .me .chat {
	background-color : skyblue;
	margin-right : 4px;
	text-align : left;
}
.comunityBox .privateChat .chatRecord .you .chat {
	background-color : lightgray;
	margin-left : 5px;
}
.comunityBox .chatRecord .chat {
	display : inline-block;
	padding: 5px;
    border-radius: 7px;
    max-width : 80%;
    margin-top: 7px;
}








.boardBox .hot {
	width : 50%;
	margin-right : 12px;
	overflow: hidden;
}
.boardBox .title {
	margin-bottom : 6px;
	height : 29px;
}
.boardBox .title {
	display : flex;
	justify-content: space-between;
}
.boardBox .title .icon {
	margin-right : 5px;
}
.boardBox .title .icon img {
	width : 27px;
	vertical-align: bottom;
}
.boardBox .title .pag {
	flex : 1;
	text-align : right;
	line-height: 28px;
	margin-right : 10px;
}
.boardBox .title .page {
	display : flex;
    border-radius: 5px;
    user-select : none;
}
.boardBox .page .btn {
	font-size : 15px;
	font-weight: bolder;
    color: #959595;
    height: 29px;
    line-height: 25px;
    width: 26px;
    text-align: center;
    cursor : pointer;
    border : 1px solid #a7a7a7;
    transition : 0.2s;
}
.boardBox .page .btn1 {
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border-right: 1px solid #a7a7a7;
}
.boardBox .page .btn2 {
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	border-left: 0px;
}
.boardBox .page .btn:hover {
	background-color : #ededed;
}
.boardBox .page .line {
	color : gray;
    line-height: 17px;
    border-right : 1px solid #b9b9b9;
}
.boardBox .title .text {
	font-size : 18px;
	font-weight : bolder;
	line-height: 28px;
	cursor : pointer;
}
.boardBox .hot .slideBox {
	display : flex;
	transition : transform 0.3s;
}
.boardBox .recent {
	width : 50%;
	padding-left : 12px;
}
.boardBox .boardList {
	flex-shrink : 0;
	width : 100%;
	margin-top : 6px;
}
.boardBox .boardList .board {
	display : flex;
	padding: 5px 0px;
}
.boardBox .boardList .board .subject {
	flex : 1;
}
.boardBox .boardList .board .subject .text1:hover {
	cursor : pointer;
	text-decoration: underline;
}
.boardBox .hot .boardList .board .subject img {
    width: 17px;
    vertical-align: bottom;
}
.boardBox .recent .boardList .board .subject img {
    width: 13px;
}
.boardBox .boardList .board .subject .replyCnt {
	color : #ff5b00;
	font-size : 15px;
	font-weight : bolder;
}
.boardBox .recent .title .part {
	flex : 1;
	display : flex;
	justify-content: flex-end;
}
.boardBox .recent .title .part > div {
	border : 1px solid #a8a8a8;
	border-radius: 5px;
	margin-left : 5px;
	padding: 4px 6px;
	cursor : pointer;
	transition : 0.3s;
}
.boardBox .recent .title .part > div.selected {
	color : white;
	background-color : #7289ab;
}
.boardBox .recent .title .part > div:hover {
	color : white;
	background-color : #7289ab;
}






.newsBox .keyword {
	display : flex;
}
.newsBox .keyword .item {
	border-top : 1px solid #b1b1b1;
	border-left : 1px solid #b1b1b1;
	border-bottom : 1px solid #b1b1b1;
	padding: 6px 10px;
	color : #5a5a5a;
	background-color: #f3f3f3;
	cursor : pointer;
	height : 33px;
	box-sizing: border-box;
}
.newsBox .keyword .item.selected {
	font-weight : bolder;
	color : black;
}
.newsBox .keyword .item:hover {
	font-weight : bolder;
}
.newsBox .keyword .item:last-of-type {
	border-right : 1px solid #b1b1b1;
}
.newsBox .keyword .line {
	flex : 1;
	border-top : none;
	border-bottom : 1px solid #b1b1b1;
}
.newsBox .newsList {
	margin-top : 15px;
	position : relative;
}
.newsBox .newsList #loadingImg {
    left: 46.7%;
    top: 72%;
    width : 50px;
    height : 50px;
    position: absolute;
}
.newsBox .newsList .imgNewsBox {
	display : flex;
	justify-content: space-between;
}
.newsBox .newsList .imgNewsBox .imgNews {
	width : 30%;
	cursor : pointer;
}
.newsBox .newsList .imgNewsBox .imgNews:hover .title {
	text-decoration: underline;
}
.newsBox .newsList .imgNewsBox .imgNews img {
	border-radius: 10px;
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,.12);
    transition : 0.2s;
}
.newsBox .newsList .imgNewsBox .imgNews img:hover {
	box-shadow: 0px 0px 20px 0px rgb(0 0 0 / .5);
}
.newsBox .newsList .imgNewsBox .imgNews .title {
	font-weight : bolder;
	font-size : 20px;
}
.newsBox .newsList .imgNewsBox .imgNews .noResult {
    position: absolute;
    top: 67%;
    width: 100%;
    text-align: center;
    font-size: 20px;
}
.newsBox .newsList .textNews {
	display : flex;
	margin-top : 20px;
}
.newsBox .newsList .textNews .left {
	flex : 1;
	margin-right : 10px;
}
.newsBox .newsList .textNews .right {
	flex : 1;
	margin-left : 10px;
}
.newsBox .newsList .textNews .article {
	display : flex;
	justify-content: space-between;
	font-size : 17px;
	padding: 5px 0px;
	height : 30px;
	box-sizing: border-box;
}
.newsBox .newsList .textNews .article .text1 {
	overflow: hidden;
	flex : 10;
}
.newsBox .newsList .textNews .article .text1:hover {
	cursor : pointer;
	text-decoration: underline;
}
.newsBox .newsList .textNews .article .text2 {
	font-size : 14px;
	color :gray;
	width : 70px;
	text-align : right;
}




.newsModalContainer {
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.4);
    display : none;
}
.newsModalContainer .newsContent {
	position : relative;
	margin : 70px auto;
	background-color : white;
	width : 700px;
	height : 800px;
	border-radius: 12px;
	animation : slideIn 0.3s;
	box-sizing: border-box;
    padding: 40px 0px 30px 30px;
}
.newsModalContainer .newsContent #newsModalContent {
	height : 100%;
	overflow-y : scroll;
	padding-right: 20px;
}
@keyframes slideIn {
	from {top : -50%}
	to {top : 0%}
}



