.boardContentContainer {
	min-height: 518px;
	margin-top : 30px;
}
.boardContentContainer .btnContainer {
	width : 60%;
	box-sizing: border-box;
	margin : auto;
	display : flex;
	justify-content: flex-end;
	margin-bottom : 12px;
}
.btnContainer .btn {
	padding: 10px;
	margin-left : 7px;
	border-radius: 7px;
    background-color: #ededed;
    cursor : pointer;
    font-size : 14px;
}
.btnContainer .btn img {
	width : 12px;
}
.boardContentContainer .contentContainer {
	width : 60%;
	box-sizing: border-box;
	margin : auto;
	border : 1px solid #e3e3e3;
	padding : 20px;
	border-radius: 6px;
}
.contentContainer .line {
	border-top : 1px solid #d9d9d9;
}
.contentContainer .content img {
	max-width: 100%;
}